body {
    height: 100vh; /* Ensure full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default body margin */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.profile-picture {
    margin-bottom: 20px; /* Add space between profile picture and button */
}

.container {
    display: flex;
    justify-content: center; /* Center account settings horizontally */
}

.account-settings {
    padding: 20px;
    max-width: 400px; /* Limit the width of account settings */
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-button {
    cursor: pointer;
    color: #4ff7a3;
    margin-top: 10px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.delete-account,
.submit {
    background-color: #4ff7a3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-account {
    background-color: #ff4d4d;
}

.delete-account:hover {
    background-color: #e60000;
}

.submit:hover {
    background-color: #00ff15;
}

#upload-profile-pic {
    font-size: large;
    margin-bottom: 20px;
}
