body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
.dark-mode {
    background-color:#212124;
    color: white;
  }

  #toggle-theme-btn {
    background-color: #1b2d48;
    border: none;
    cursor: pointer;
    padding: 10px; 
    font-size: 18px;
    border-radius: 5px;
    width: 100%; 
    margin-bottom: 10px; 
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}

#toggle-theme-btn img {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
}

#button-text {
    margin-left: 5px;
    color: white;
    font-size: 22px;
    font-family:'Roboto', sans-serif;
}

