body {
  padding: 25px;
  background-color: rgb(240, 243, 255);
  color: black;
  font-size: 25px;
}

header {
  padding: 25px;
  background-color: rgb(111, 97, 192);
  font-size: 25px;
  height: 40px;
  width: 100%;
  padding-left: 0; 
  position: fixed;
  top: 0;
  left: 0%;
}

.dark-mode {
  background-color:#212124;
  color: white;
}

#toggle-theme-btn {
  background-color: rgb(111, 97, 192);
  border: none;
  cursor: pointer;
  padding: 10px; 
  font-size: 18px;
  border-radius: 5px;
  width: 100%; 
  margin-bottom: 10px; 
  display: flex;
  align-items: center; 
  justify-content: flex-start;
}

#toggle-theme-btn img {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
}

#button-text {
  margin-left: 5px;
  color: white;
  font-size: 22px;
  font-family:'Roboto', sans-serif;
}

#button-text:hover {
  color: rgb(150, 233, 198);
}

#LoginButton{
  background-color:red;
}