<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SideBar.css') }}">
</head>

<header>
    <button class="openbtn" onclick="openNav()">&#9776; </button>
</header>

<body>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="../Templates/Profile.html" onclick="redirectToProfilePage()">
        <img id="profile" src="" alt=""> Profile
    </a>    
    <a href="../Templates/home.html"><img id="home" src="../static/Assets/home.png" alt="Home"> Home</a>
    <a href="../Templates/index.html" onclick="redirectToAboutPage()" ><img id="info" src="../static/Assets/info.png" alt="Info"> About</a>
    <button id="toggle-theme-btn" onclick="toggleDarkMode()" title="Toggle theme mode">
        <img id="modeIcon" src="{{ url_for('static', filename='Assets/sun.svg') }}" alt="Light Mode">
        <span id="button-text">Dark Mode</span>
    </button>
  </div>
    
  <div class="board">
    <div class="column">
      <div class="column-header-todo">
        <h2>To Do</h2>
      </div>
      <div class="tasks" id="todo">
      </div>
      <div class="add-task">
        <button id="openModalBtn"></button>
      </div>
    </div>
    <div class="column">
      <div class="column-header-inprogress">
        <h2>In Progress</h2>
      </div>
      <div class="tasks" id="inProgress">
      </div>
    </div>
    <div class="column">
      <div class="column-header-done">
        <h2>Done</h2>
      </div>
      <div class="tasks" id="done">
      </div>
    </div>
    <div id="taskModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Add Task</h2>
          <form id="taskForm">
              <label for="taskTitle">Title:</label><br>
              <input type="text" id="taskTitle" name="taskTitle" required><br>
              <label for="taskContent">Content:</label><br>
              <textarea id="taskContent" name="taskContent" required></textarea><br><br>
              <input type="submit" value="Add Task">
          </form>
      </div>
    </div>

    <div id="editModal" class="modal">
      <div class="modal-content">
          <span id="editCloseBtn" class="close">&times;</span>
          <h2>Edit Task</h2>
          <form id="editTaskForm">
              <label for="editTaskTitle">Title:</label><br>
              <input type="text" id="editTaskTitle" name="editTaskTitle" required><br>
              <label for="editTaskContent">Content:</label><br>
              <textarea id="editTaskContent" name="editTaskContent" required></textarea><br><br>
              <input type="submit" value="Save Changes">
          </form>
      </div>
    </div>

  </div>

<script src="{{ url_for('static', filename='Js/bar.js') }}"></script>
<script src="{{ url_for('static', filename='Js/darkmode.js') }}"></script>
<script src="{{ url_for('static', filename='Js/modal.js') }}"></script>
<script>
    function redirectToProfilePage() {
        window.location.href = "../Templates/Profile.html";
    }

    function redirectToAboutPage() {
        window.location.href = "../Templates/index.html";
    }

    function redirectToHomePage() {
        window.location.href = "../Templates/home.html";
    }
</script>

</body>
</html>
