<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Css/SideBar.css">
    <link rel="stylesheet" href="../static/CSS/welcome_page_style.css">
    <link rel="stylesheet" href="../static/CSS/accordion.css">
</head>
<header>
    <button class="openbtn" onclick="openNav()">&#9776; </button>
    <div class="login-register-container">
        <button id="LoginButton" onclick="redirectToLoginPage()">Login</button>
        <button id="RegisterButton" onclick="redirectToRegisterPage()">Register</button>
    </div>
</header>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#"><img id="home" src="../static/Assets/home.png" alt="Home"> Home</a>
        <a href="#"><img id="info" src="../static/Assets/info.png" alt="Info"> About</a>
        <a href="#"><img id="contact" src="../static/Assets/contact.png" alt="Contact"> Contact</a>

        <button id="toggle-theme-btn" onclick="toggleDarkMode()" title="Toggle theme mode">
            <img id="modeIcon" src="../static/Assets/sun.svg" alt="Light Mode">
            <span id="button-text">Dark Mode</span>
        </button>
    </div>

    <button class="accordion">Section 1</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    <button class="accordion">Section 2</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    <button class="accordion">Section 3</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
</body>
    <script src="../static/Js/bar.js"></script>
    <script src="../static/Js/login-register_redirect.js"></script>
    <script>
        function toggleDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
    
            var button = document.getElementById("toggle-theme-btn");
            var image = document.getElementById("modeIcon");
    
            if (element.classList.contains("dark-mode")) {
                image.src = "../static/Assets/moon.svg";
                image.alt = "Dark Mode";
                document.getElementById("button-text").innerText = "Light Mode";
            } else {
                image.src = "../static/Assets/sun.svg";
                image.alt = "Dark Mode";
                document.getElementById("button-text").innerText = "Dark Mode";
            }
        }
    </script>
  
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
    </script>

</html>