<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Profile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SideBar.css') }}">
</head>

<header>
    <button class="openbtn" onclick="openNav()">&#9776; </button>
    </div>
  </header>
  
<body>
  
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="../Templates/Profile.html" onclick="redirectToProfilePage()">
        <img id="profile" src="" alt=""> Profile
    </a>    
    <a href="#" onclick="redirectToHomePage()"><img id="home" src="{{ url_for('static', filename='Assets/home.png') }}" alt="Home"> Home</a>
    <a href="../Templates/index.html" onclick="redirectToAboutPage()"><img id="info" src="{{ url_for('static', filename='Assets/info.png') }}" alt="Info"> About</a>
    <button id="toggle-theme-btn" onclick="toggleDarkMode()" title="Toggle theme mode">
        <img id="modeIcon" src="{{ url_for('static', filename='Assets/sun.svg') }}" alt="Dark Mode">
        <span id="button-text">Dark Mode</span>
    </button>
</div>

<div class="profile">
<div class="profile-picture">
    <img id="profile-image" src="{{ url_for('static', filename='Assets/person.png') }}" alt="Profile Picture">
    <input type="file" id="upload-profile-pic" accept="image/*" style="display: none;">
</div>

<label  for="upload-profile-pic" class="upload-button">Upload Profile Picture.</label>

<div class="account-settings">
    <h2>Account Settings:</h2>
    <form>
        <div class="form-group">
            <label for="change-email">New Email:</label>
            <input type="email" id="change-email" name="change-email">
        </div>
        <div class="form-group">
            <label for="change-name">Change Name:</label>
            <input type="text" id="change-name" name="change-name">
        </div>
        <div class="form-group">
            <label for="change-username">Change Surname:</label>
            <input type="text" id="change-surname" name="change-surname">
        </div>
        <div class="form-group">
            <label for="change-surname">Change Password:</label>
            <input type="password" id="change-password" name="change-password">
        </div>
        <div class="form-group">
            <label for="change-email">Change username:</label>
            <input type="text" id="change-username" name="change-username">
        </div>
        <button type="submit" class="delete-account">Delete Account:</button>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>
</div>

<script>
    document.getElementById('upload-profile-pic').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            document.getElementById('profile-image').src = e.target.result;
        };

        reader.readAsDataURL(file);
    });
</script>
<script src="{{ url_for('static', filename='Js/bar.js') }}"></script>
<script src="{{ url_for('static', filename='Js/darkmode.js') }}"></script>
<script>
    function redirectToHomePage() {
      window.location.href = "../Templates/index.html";
  }
</script>
</body>
</html>
